.container{
    height: 26vh;
    background-color: purple;
    box-shadow: 0px 2px 20px grey;
}

mat-list{
    margin-left: 5vw;
    padding-top: 20px;
}

mat-list-item{
    font-family: 'Sulphur Point', sans-serif;
    height: 25px !important;
}

h2{
    color: white;
}

p{
    color: white;
    font-size: 95%;
    margin-left: 10px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }