<div class="container">
    <mat-list>
        <mat-list-item>
            <h2>Contact</h2>
        </mat-list-item>
        <mat-list-item></mat-list-item>
        <mat-list-item>
            <i class="material-icons md-light md-18">person</i>
            <p>Marco Túlio Motta de Jesus</p>
        </mat-list-item>
        <mat-list-item>
            <i class="material-icons md-light md-18">email</i>
            <p>marcotmj@dcc.ufmg.br</p>
        </mat-list-item>
        <mat-list-item>
            <img height="18px" src="https://www.pngkey.com/png/full/178-1787243_github-icon-png-github-icon-white-png.png" alt="git">
            <p>marcotmotta</p>
        </mat-list-item>
    </mat-list>
</div>